@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="bemvindo">Bem-Vindo ao LabMed!</h1>
    <p class="descricao">A LabMed é um espaço dedicado à excelência em análises clínicas, comprometido em fornecer resultados precisos e confiáveis para apoiar a saúde e o bem-estar de nossos pacientes. </a>.</p>
    <div class="img-banner">
        <a class="" asp-area="" asp-controller="Home" asp-action="Index"><img src="/Img/banner.png" /></a>
    </div>
</div>
