@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>


<p>Data de vigência: [24/11/2023]</p>
<p>O LabMed está empenhado em proteger a privacidade dos usuários de seu site. Esta Política de Privacidade descreve as práticas do [Nome do Laboratório Médico] em relação à coleta, uso, armazenamento e divulgação de informações pessoais que possam ser obtidas por meio do nosso site.</p>
<p>2. Uso das Informações:
As informações pessoais coletadas podem ser utilizadas para os seguintes propósitos:</p>
<p>Agendar consultas ou exames;
Processar pagamentos;
Enviar informações relevantes sobre resultados de exames;
Responder a consultas ou solicitações;
Personalizar a experiência do usuário no site.
3. Compartilhamento de Informações:
O LabMed não vende, aluga ou compartilha informações pessoais dos usuários com terceiros, exceto quando necessário para realizar serviços solicitados pelo usuário (por exemplo, processar pagamentos).</p>
<p>4. Segurança das Informações:
O LabMed emprega medidas de segurança adequadas para proteger as informações pessoais dos usuários contra acesso não autorizado, alteração, divulgação ou destruição não autorizada.</p>
<p>5. Cookies:
O site do LabMed pode utilizar cookies para melhorar a experiência do usuário. Os cookies são pequenos arquivos armazenados no dispositivo do usuário que coletam informações sobre a interação com o site.
</p>
<p>6. Links para Sites de Terceiros:
O site pode conter links para sites de terceiros. O [Nome do Laboratório Médico] não é responsável pelas práticas de privacidade desses sites. Recomendamos que os usuários revisem as políticas de privacidade desses sites ao acessá-los.
</p>
<p>7. Menores de Idade:
O LabMed não coleta intencionalmente informações pessoais de menores de idade. Caso tenhamos conhecimento de informações pessoais de menores de idade, tomaremos as medidas necessárias para excluí-las.
</p>
<p>
    8. Alterações na Política de Privacidade:
    O LabMed reserva-se o direito de modificar esta Política de Privacidade a qualquer momento. Recomendamos que os usuários revejam periodicamente esta política para se manterem informados sobre como suas informações estão sendo protegidas.
</p>
<p>
    9. Contato:
    Para dúvidas ou preocupações relacionadas a esta Política de Privacidade, entre em contato conosco por meio das informações abaixo:
    [Inserir informações de contato]
</p>
<p>Ao utilizar o site do LabMed, os usuários concordam com os termos desta Política de Privacidade.</p>
