@model LaboratorioExame.Models.Usuario
@{
    Layout = (null);
}<link href="~/css/login.css" rel="stylesheet" />
<div class="text-center">
    <form asp-action="Login">
        <main>
            <section class="box">
                <div class="img">
                    <img src="~/Img/Logo.png" />
                </div>
                <h1 class="h1">ACESSE SUA CONTA</h1>
                <form>
                    <div class="form-input">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-input">
                        <label asp-for="Senha"></label>
                        <input asp-for="Senha" type="password" />
                        <span asp-validation-for="Senha"></span>
                    </div>
                    <br />
                    <h4>@ViewBag.Mensagem</h4>
                    <br />
                    <div class="btnEntrar">
                        <input type="submit" value="Entrar" class="btn-1" />
                    </div>
                </form>
            </section>
        </main>
    </form>
</div>
