@model LaboratorioExame.Models.Profissional

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Profissional</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfissionaNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfissionaNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo.CargoNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProfissionalId">Edit</a> |
    <a class="a" asp-action="Index">Voltar para a lista</a>
</div>
